# Activation du moteur de réécriture
RewriteEngine On

# Condition : le nom d'hôte doit être "localhost" (peu importe la casse)
RewriteCond %{HTTP_HOST} ^localhost$ [NC]

# Condition : l'URI doit commencer par "/recherche_stage/" suivi de tout caractère
RewriteCond %{REQUEST_URI} ^/recherche_stage/(.*)$ [NC]

# Règle : redirige vers "http://elka_stage.org/" en conservant le reste de l'URL
RewriteRule ^recherche_stage/(.*)$ http://elka_stage.org/$1 [R=301,L]
